@charset "utf-8";
html,body{
	height:100%;
}
body{
	margin:0;
	padding:0;
	/*font-family:HELVETICANEUE;*/
	font-size: 62%;
	font-family:arial;
	
	background:#FFF url(../images/template/grayback.png) repeat-x;
}
h1,h2,h3,p{
	margin:10px 0;
}
a img{
	border:0;
}
.roundCorners{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#contactDialog{
	display:none;
	z-index : 10;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
.overlay{
	position: absolute;
	z-index : 10;
	background: #000;	
	width: 100%;
	opacity:.5;
	height: 100%;
}
.modal{
	position: absolute;
	z-index: 20;
	left : 50%;
	top: 50%;
	margin: 0;
	border:1px solid #CCC;
	background:#eee;
	
	width:0;
	height:0;
	text-align:center;
}
/* Page Header */
#dbdcHeader{
	 background: url("../images/template/headerback.png") repeat scroll 0 0 transparent;
    border-bottom: 4px solid #4CB0D8;
    height: 70px;
}
#dbdcLogo{
	margin:5px 0;
	display:block;
	text-decoration:none;
}
#dbdcLogo img{
	float:left;
}
#dbdcLogo .text {
	color: white;
}
#dbdcLogo .text .product{
    font-size: 3em;
}
#dbdcLogo .text .slogan{
	font-size: 1.2em;
}
#dbdcHeader .navMenu{
	color: #7AD4F9;
    font-size: 1.4em;
    line-height: 2em;
    margin-top: 20px;
}
#dbdcHeader .navMenu a{
	color:#7ad4f9;
	text-decoration:none;
	font-weight:bold;
}
#dbdcHeader .navMenu a:hover{
	color:#ffffff;
}

#authbox{
	background: url("../images/template/authbox.png") no-repeat scroll 0 0 transparent;
    height: 31px;
    padding: 0 10px;
    width: 110px;
	text-align:center;
}
#authbox a{
	font-weight:normal!important;
}
span#hlinks>span {float:left;background:none;}
span#hlinks>span.on{height:65px;background:url(/images/template/menuarrow.png) no-repeat scroll center bottom transparent;}
span#hlinks>span.on>a{color:white;}

/* Page Body */
#pageBody{
	height:100%;
}
#dbdcFooter{
	height:30px;
	background:#FFF url(../images/template/grayback.png) repeat-x;
	width:100%;
	padding:20px 0 0 0;
	font-size:1.2em;
	color:#878787;
}
#dbdcFooter a{
	color:#0097d4;
	text-decoration:none;
}
.footerPusher{
	height:50px;
	width:100%;
}
#dbdcFooter ul.hmenu{
	float:right;
}
ul.hmenu{
	list-style:none;
	padding:0;
	margin:0;
}
ul.hmenu li{
	float:left;
}
.floatleft{float:left}
.floatright{float:right}
.margin_0_5.cascade a, 
.margin_0_5{
	margin:0 5px;
}
.margin_0_10.cascade a, 
.margin_0_10{
	margin:0 10px;
}
.padding_0_5{padding:0 5px;}
.padding_0_10{padding:0 10px;}
.padding_0_20{padding:0 20px;}
.padding_0_0_0_10{padding:0 0 0 10px;}
.margin_0_0_0_10{margin:0 0 0 10px;}
.margin_0_0_0_20{margin:0 0 0 20px;}
.noMarginRight{margin-right:0;}
.noMarginLeft{margin-left:0;}

.relative{position:relative}
.contentBox{
	border:1px solid #CCC;
	background:#fff;
}
.contentBoxGray{
	border:1px solid #CCC;
	background:#eee;
}
.backWhite{background:#fff!important;}
.backGray{background:#fbfbfb!important;}
#newsBar{
	height:38px;
	background:#FFF url(../images/template/nb_back.png) repeat-x;
	color:#878787;
	line-height:37px;
	font-size:1.2em;
}
#newsBar b{
	color:black;
}
a.signup{
	overflow:hidden;
	text-indent:999px;
}
#newsBar img{
	vertical-align: middle;
	margin: -2px 0 0;
	background:#ffffff;
}
#boxes{
	margin: 5px auto;
	color:#878787;
	font-size:1.3em;
	line-height:1.3em;
}
#boxes a{
	color:#0097d4;
	text-decoration:none;
    background: url(/images/trust/link.png) no-repeat scroll right 5px;
    padding-right:8px;
}
#boxes b{
	color:black;
}
#boxes>div{
	background: url(../images/template/boxes_plain.png) ;
	height: 94px;
    margin: 0;
    padding: 20px;
    width: 195px;
	position:relative;
}
#boxes>div.first{
	background: url(../images/template/boxes_lcorner.png) ;
	margin: 0 0 0 10px;
}
#boxes>div.last{
	background: url(../images/template/boxes_rcorner.png)  right top ;
	margin: 0 10px 0 0;
}
#boxes>div.first.hover{
	background: url(../images/template/boxes_lcorner_hover.png) ;
	margin: 0 0 0 10px;
}
#boxes>div.last.hover{
	background: url(../images/template/boxes_rcorner_hover.png)  right top ;
	margin: 0 10px 0 0;
}
#boxes>div.hover{
	background: url(../images/template/boxes_hover.png) ;
}
#boxes span {
    display: block;
    width: 140px;
}
#boxes .icon{
	bottom: 20px;
    position: absolute;
    right: 20px;
}