#simplemodal-overlay {
	background: #111;
	opacity: 0.8;
}
#simplemodal-container {
	background: white;
	border: 3px solid steelblue;
	padding: 20px;
}
form fieldset { border: none; }
form legend { color: black; font-weight: bold; }
form p { margin: 2px 0; padding: 0; }
form label { display: inline-block; }
fieldset input,select { margin: 2px 8px; }
form label:first-child { width: 110px; text-align: right; }
form label.error { color: red; font-size: 0.9em; } 
form a { color: black; }
.red{ color: #F10; }