#EasingIndex{position:absolute; right:0;}
#EasingIndex ul li{
	margin: 0 5px;
	width:10px;
	height:10px;
	background: url(../images/slider/dot.png) no-repeat;
}
#EasingIndex ul li.active{
	background: url(../images/slider/dotactive.png) no-repeat;
}
#SliderWrapper{
	height:450px;
	position:relative;	
}
#EasingBackground{
	width:3760px;
	position:absolute;
}
#EasingText{
	width:3760px;
	position:absolute;
}
.slideItem{
	position:relative;
	width:938px;
	height:300px;
	float:left;
}
/*.slideItem img{
	width:938px;
	height:300px;
}*/
.slideItem img{
	position:absolute;
	right: 10px;
	top:50px;
	vertical-align: text-bottom;
}
.sliderText{
	position:absolute;
	top:20px;
	left:20px;
	width: 400px;
}
.sliderText h2{font-size:5.8em;color:#7ad4f9;margin-bottom:10px;}
.sliderText h3{font-size:2em;color:#000;}
.sliderText span{font-size:1.6em;color:#878787;font-family:georgia;}
.sliderText img{position:static;}
.sliderText a{color:#7ad4f9;text-decoration:none;}

.column ul{padding:0 15px}
.column ul li{}

.details img{
	float: left;
    margin: 0 10px 0 0;
    width: 120px;	
}
.fadeMask{}