<div id="accreditations">
    <img id="security-accreditations" src="/images/trust/accreditations.png" usemap="#trust_footer_Map"/>
    <map name="trust_footer_Map">
        <area shape="rect" coords="867,4,912,61" href="http://www.bsigroup.com/en/Assessment-and-certification-services/Client-directory/CertificateClient-Directory-Search-Results/?pg=1&licencenumber=IS+534200&searchkey=companyXeqXsalesforce" alt="" />
        <area shape="rect" coords="742,4,858,61" href="http://export.gov/safeharbor" alt="" />
        <area shape="rect" coords="576,4,662,61" href="http://trust.salesforce.com/trust/assets/pdf/Misc_SysTrust.pdf" alt="" />
        <area shape="rect" coords="465,4,565,61" href="http://www.truste.org/ivalidate.php?url=www.salesforce.com&sealid=102" alt="" />
        <area shape="rect" coords="372,4,449,61" href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&dn=WWW.salesforce.com&lang=en" alt="" />
    </map>
</div>