<div class="quote"/>
    <div class="quotetext">
        "Nothing is more important to our company than the privacy of our customer's data"
    </div>
    <div class="quotesign">
        <span>&mdash;</span>
        <span>
        Parker Harris<br/>
        Executive VP, Technology<br/>
        salesforce.com
        </span>
    </div>
</div>