div#header-navigation { display: inline-block; }

ul.tabnav { float: left; border-bottom: 4px solid #99908C; }
ul.tabnav li { float: left; list-style: none; }

ul.tabnav a {
	display: inline-block;
	margin: 0;
	padding: 5px 0 3px 7px;
	color: black;
	text-decoration: none;
	background: url('/images/trust/tab_left.gif') top left no-repeat;
}
ul.tabnav span {
	padding: 5px 15px 3px 6px;
	background: url('/images/trust/tab_right.gif') top right no-repeat;
}

ul.tabnav a.on { background-position: 0 -84px; color: white; }
ul.tabnav a.on span { background-position: 100% -84px; }

ul.tabnav a.off:hover { color: #F10; background-position: 0 -42px; }		
ul.tabnav a.off:hover span { background-position: 100% -42px; }

ul.tabnav a.login { background-image: url('/images/trust/tab_left_login.gif'); }
a.login span { color: white; background-image: url('/images/trust/tab_right_login.gif'); }
ul.tabnav a.login:hover { background-position: 0 -42px; }		
ul.tabnav a.login:hover span { background-position: 100% -42px; }