<!-- Page Footer -->
<div id="dbdcFooter">
	<div class="row">
		<div class='column grid_7'>
			&copy; Copyright 2000-2011 salesforce.com, inc. All rights reserved.
		</div>
		<div class='column grid_5'>
				<span class="floatright margin_0_5 cascade">
					
					
					<a 	href="javascript:;" 
							onClick="shareFb()">
						<%= image_tag("template/social_fb.png") %>
					</a>	
					
					<a 	href="javascript:;" 
							onClick="shareTweet()">
						<%= image_tag("template/social_twitter.png") %>
					</a>
					
					<%= link_to image_tag("template/social_rss.png") %>
				</span>
				<span class="floatright  margin_0_5">
					<a href="Javascript:;">Site map</a>
					|
					<a href="Javascript:;">Blog</a>
					|
					<a href="Javascript:;">Contact</a>
					|
					<a href="Javascript:;">Support</a>
				</span>
		</div>
	</div>	
</div>