<% content_for :pageTitle do %>Database.Com<% end %>

<div class="row">
	<div class='details column grid_6'> 
		<h2>The enterprise cloud database from salesforce.com</h2> 
		<h3>Designed for the next generation of apps</h3>
		
		<ul> 
			<li>Cloud: auto elasticity, auto security &amp; auto backups</li> 
			<li>Open APIs &amp; Authentication: REST, SOAP &amp; OAuth</li> 
			<li>Social Data Model: profiles, feeds &amp; status updates</li>
			<li>Secure: Trusted by 87,000+ businesses &amp; governments</li> 
		</ul> 
		
		<a href='#top'> 
			<span class='content'> 
				<strong>Sign Up For Updates</strong> 
			</span> 
		</a> 
	</div><!-- .details --> 
	<div class='video column grid_6'> 
		<object width="454" height="273">
		<param name="movie" value="http://www.youtube.com/v/LkBpAHxwqQs?fs=1&amp;hl=en_US"></param>
		<param name="allowFullScreen" value="true"></param>
		<param name="allowscriptaccess" value="always"></param>
		<param name="wmode" value="transparent"></param>
		<embed wmode="opaque" src="http://www.youtube.com/v/LkBpAHxwqQs?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="454" height="273"></embed>
	</object> 
	</div><!-- video --> 
</div>
<div class="row">
	<div class='details column grid_6'> 
		<h2>Database.com Blog</h2> 
		<h3>Database.com Sneak Peek Webinar Recording Now Available</h3>
		<span>The Database.com Sneak Peek webinar from June 3, 2011 is now available. Read More</span>
		<br />
		<h3>Leaked Photos! Database.com</h3>
		<%= link_to image_tag("dbdc/leakedphotos.jpg") %>
		<span>If you haven&apos;t heard, the Database.com Sneak Peek Webinar is this Friday. We&apos;re excited to preview Database.com to the world and hope you&apos;ll be able to attend. To get your attention, here are two screens of some tools that will be part of Database.com. Register Now Read More</span>
		<br />
		<h3>Database.com Sneak Peek Webinar</h3>
		<%= link_to image_tag("dbdc/webinar.png") %>
		<span>Are you ready for a look at the world&apos;s first enterprise database in the cloud? An open database that&apos;s designed to support social, collaborative, mobile apps? A fully-managed cloud database service with a sophisticated security model that your apps can leverage to get the right data to the right users at the right time? A [...] Read More</span>
	</div>
	<div class='details column grid_4'>
		<h2>Tools and Toolkits</h2>
		<span>Database.com will have toolkits available for a number of languages and platforms, including:</span>
			<ul>
				<li>Java</li>
				<li>.NET</li>
				<li>Ruby</li>
				<li>Android</li>
				<li>iOS</li>
			</ul>
		<h2>FAQ</h2>
		<p>What is the difference between Force.com and Database.com?</p>
		<p>Can people port an existing database to Database.com?</p>
		<p>When will it be available?</p>
	</div>
</div>

